<br/><div class="container">
  <h3>List of Articles</h3><br />  
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.text %></td>
    </tr>
  </tbody>
</table>
</div>